# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr
.env*
*.local
coverage/

# TypeScript
*.tsbuildinfo

# Playwright
/playwright-report/
/blob-report/
/test-results/
