# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr
.env*
*.local
coverage/

# Yarn PnP
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# TypeScript
*.tsbuildinfo

# Playwright
/playwright-report/
/blob-report/
/test-results/
