@use './colors';

@mixin button {
  border-radius: 0.5em;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  padding: 0.5em 1em;
  transition: box-shadow 0.25s;

  @include colors.theme using ($theme) {
    background-color: colors.get($theme, 'button-background-color');
    color: colors.get($theme, 'button-text-color');
  }

  @media all and (hover: hover) {
    &:hover {
      box-shadow: inset 0 -0.25em 0 0 rgba(0, 0, 0, 0.25);
      @include colors.theme using ($theme) {
        color: colors.get($theme, 'button-text-color');
      }
    }
  }
}
