/* stylelint-disable scss/at-mixin-pattern */

@mixin Quicksand-UltraThin {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 100;
  font-weight: normal;
}

@mixin Quicksand-Thin {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 200;
  font-weight: normal;
}

@mixin Quicksand-Light {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 300;
  font-weight: normal;
}

@mixin Quicksand-Regular {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 400;
  font-weight: normal;
}

@mixin Quicksand-Medium {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 500;
  font-weight: normal;
}

@mixin Quicksand-SemiBold {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 600;
  font-weight: normal;
}

@mixin Quicksand-Bold {
  font-family: Quicksand, sans-serif;
  font-variation-settings: 'wght' 700;
  font-weight: normal;
}

/* stylelint-enable scss/at-mixin-pattern */
