/* The basic responsive size classes. Small is for mobile devices and large is
   unconstrained. */

@mixin small {
  @media (width <= 700px) {
    @content;
  }
}

@mixin large {
  @media (width > 700px) {
    @content;
  }
}

/* Some pre-fab font sizes, including their reduced mobile sizes. */

@mixin font-size-very-large {
  @include small {
    font-size: 36px;
  }

  font-size: 48px;
}

@mixin font-size-large {
  @include small {
    font-size: 24px;
  }

  font-size: 36px;
}

@mixin font-size-regular {
  @include small {
    font-size: 18px;
  }

  font-size: 24px;
}

@mixin font-size-small {
  @include small {
    font-size: 14px;
  }

  font-size: 18px;
}

@mixin font-size-very-small {
  font-size: 14px;
  line-height: 16px;
}

@mixin font-size-tiny {
  font-size: 12px;
  line-height: 14px;
}

/* Some pre-fab margins, including their reduced mobile sizes. */

@mixin top-margin {
  @include small {
    margin-top: 25px;
  }

  margin-top: 40px;
}

@mixin top-margin-large {
  @include small {
    margin-top: 50px;
  }

  margin-top: 80px;
}

@mixin bottom-margin {
  @include small {
    margin-bottom: 25px;
  }

  margin-bottom: 40px;
}

@mixin bottom-margin-large {
  @include small {
    margin-bottom: 50px;
  }

  margin-bottom: 80px;
}

/* Make an element fill the vertical height of its container. */

@mixin fill-height {
  display: flex;

  > * {
    flex: 1 1 auto;
  }
}
