@use "./fonts";
@use "./colors";
@use "./controls";
@use "src/assets/styles/responsive";

html,
body {
  @include colors.theme using ($theme) {
    background-color: colors.get($theme, "background");
  }
}

* {
  @include fonts.Quicksand-Regular;

  font-weight: normal;
}

p,
h1,
h2,
a {
  @include colors.theme using ($theme) {
    color: colors.get($theme, "text-color");
  }
}

a {
  @media all and (prefers-color-scheme: dark) {
    @include fonts.Quicksand-SemiBold;
    @include fonts.Quicksand-Bold;
  }

  text-decoration: none;

  @media all and (hover: hover) {
    &:hover {
      @include colors.theme using ($theme) {
        color: colors.get($theme, "link-hover-color");
      }
    }
  }
}

strong {
  @include fonts.Quicksand-Bold;
}

button {
  @include controls.button;

  appearance: none;
  border-style: none;
}

.level-action-details {
  h2,
  p,
  a {
    @include colors.theme using ($theme) {
      color: colors.get($theme, "text-color-alternate");
    }
  }

  a:hover {
    @include colors.theme using ($theme) {
      color: colors.get($theme, "link-hover-color-alternate");
    }
  }
}

footer {
  @include fonts.Quicksand-Light;
  @include responsive.font-size-tiny;

  @include colors.theme using($theme) {
    color: colors.get($theme, "footer-color");
  }

  padding: 10px 0;
}
