@mixin delayed($duration) {
  &-enter-active {
    transition-delay: $duration;
  }
}

@mixin accelerate {
  &-enter-active {
    transition-timing-function: ease-out;
  }

  &-leave-active {
    transition-timing-function: ease-in;
  }
}

@mixin transition-in {
  &-enter-active {
    @content(1);
  }

  &-enter {
    @content(2);
  }

  &-enter-to {
    @content(3);
  }
}

@mixin transition-out {
  &-leave-active {
    @content(1);
  }

  &-leave {
    @content(2);
  }

  &-leave-to {
    @content(3);
  }
}

@mixin fade-in($block) {
  @if $block == 1 {
    transition-property: opacity;
    transition-duration: 0.25s;
  } @else if $block == 2 {
    opacity: 0;
  } @else {
    opacity: 1;
  }
}

@mixin fade-out($block) {
  @if $block == 1 {
    transition-property: opacity;
    transition-duration: 0.25s;
  } @else if $block == 2 {
    opacity: 1;
  } @else {
    opacity: 0;
  }
}

@mixin in-left($block) {
  @if $block == 1 {
    transition-property: transform, opacity;
    transition-duration: 0.25s;
  } @else if $block == 2 {
    transform: translateX(25%);
    opacity: 0;
  } @else {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin out-left($block) {
  @if $block == 1 {
    transition-property: transform, opacity;
    transition-duration: 0.25s;
  } @else if $block == 2 {
    transform: translateX(0);
    opacity: 1;
  } @else {
    transform: translateX(-25%);
    opacity: 0;
  }
}

.in-fade-2 {
  @include delayed(1s);

  @include transition-in using($block) {
    @include fade-in($block);
  }
}

.in-move-left-out-move-left {
  @include accelerate;

  @include transition-in using($block) {
    @include in-left($block);
  }

  @include transition-out using($block) {
    @include out-left($block);
  }
}

.in-fade-out-fade {
  @include transition-in using($block) {
    @include fade-in($block);
  }

  @include transition-out using($block) {
    @include fade-out($block);
  }
}
